      .button__roundedButton___1fbZA {
        border: none;
        border-radius: 25px;
        padding: 5px 25px 9px;
        font-family: TexGyre-bold;
        font-size: 12px;
        position: relative;
        overflow: hidden;
        z-index: 2;
        cursor: pointer;
      }
      .button__roundedButton___1fbZA > div {
        display: inherit;
      }
      .button__roundedButton___1fbZA a {
        color: #fff;
        text-decoration: none;
      }

      .button__primary___3bR8U {
        background-color: #ff8a8a;
        color: #fff;
      }
      .button__primary___3bR8U:focus:not(.button__loading___NvYUa):not(.button__disabled___T_dRQ) {
        background-color: #ff5757;
      }
