<section id="cover" class="min-vh-100">
    <div id="cover-caption ">
        <div class="container">
            <div class="row text-white ">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-sm-offset-3 mx-auto text-center form p-4">
                    <div class="px-2">
                      <img src="../../assets/images/cropped-Logo.png" height="152" width="170"/>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="justify-content-center" >
                          <div class="form-group">
                            <label class="sr-only">Email</label>
                            <input type="text" id="email" class="form-control" required minlength="3" formControlName="email" placeholder="Email">
                          </div>
                          <div *ngIf="form.get('email').errors && form.get('email').dirty" class="alert alert-danger">
                            Please enter your Email
                          </div>
                          <div class="form-group">
                            <label class="sr-only">Password</label>
                            <input type="password" class="form-control" placeholder="Password" required formControlName="pass">
                          </div>
                          <div *ngIf="form.get('pass').errors && form.get('pass').dirty" class="alert alert-danger">
                            Please enter you password
                          </div>
                          <button [disabled]="!form.valid" class="button__roundedButton___1fbZA button__primary___3bR8U" type="submit" value="Submit">
                            <div style="font-family: Lato;">Let me in</div>
                          </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
