header{
  align-content: center;
  background-color: darkblue;
  height: 100px;
}

.topnav {
  text-align: right;
  overflow: hidden;
}

.logo-header{
  width: 150px;
  height: 90px;
  float: left;
  margin-left: 10px;
  margin-right: auto;
  text-align: center;
  display:inline-block;
  vertical-align:top;
  horiz-align: center;
}
#menuPoint:active{
  background-color: red;
}
.topnav a {
  float: right;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:active {

  color: pink;
}
.title{
  text-align: center;
}

.main {

}

